  <div class="header-wrapper">
    <header>
      <div id="logo">
        <% link_to '/' do %><%= image_tag 'bytepushers.svg', alt: 'Bytepushers Logo' %><% end %>
      </div>
      <div id="bp-logo">
        <% link_to '/' do %><%= image_tag 'bp_icon.svg', alt: 'Bytepushers Logo' %><% end %>
      </div>
    </header>
      <div class="menu-section">
        <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <nav>
          <ul role="navigation" class="hidden">
          <!--<li><%= link_to 'fork!', 'https://github.com/vis-kid/betweenscreens' %></li>-->
          <li><%= link_to 'about', '/pages/about.html' %></li>
          <li><%= link_to 'interviewees', 'pages/interviewees.html' %></li>
          </ul>
        </nav>
      </div>
    <div class="header-border"></div>
  </div>
   <!-- <nav class="navigation">
      <ul class="nav-list">
        <!--<li><%= link_to 'fork!', 'https://github.com/vis-kid/betweenscreens' %></li>-->
        <!--<li><%= link_to 'about', '/pages/about.html' %></li>
        <li><%= link_to 'people', '/people.html' %></li>
      </ul>
    </nav>-->
