<div class='posts'>
  <ul>
    <% page_articles.each do |article| %>
    <li>
      <article class="index-article">

      <!---<span class='post-date'><%= article.date.strftime('%b %d | %Y') %></span>-->

        <div class='date'><%= article.date.strftime('%b %d | %Y') %></div>

        <h2 class='post-title'><%= link_to article.title, article %></h2>

        <% if article.data.contentful_index_pic %>
          <%= partial "partials/index-list-contentful-image", :locals => { :article => article } %>

        <% elsif article.data.vimeo_id %>
          <%= partial "partials/index-list-item-vimeo",       :locals => { :article => article } %>

        <% elsif article.data.soundcloud_id %>
          <%= partial "partials/index-list-item-audio",       :locals => { :article => article } %>

        <% end %>

        <% if article.data.topic_list %>
        <h3 class='topic-list'><%= article.data.topic_list %></h3>
        <% end %>


      </article>
    </li>
    <% end %>
  </ul>
</div>



<%-#  else -%>
<%-# article.summary(250) -%>
<%-# link_to 'Read more…', article   -%>
<%-# end  -%>

     
