  <div class="featured-wrapper">
    <article class="profile-article">

    <%  first_article =  blog.articles.select{ |article| article.data.category == 'Profile' }.first %>

    <div class='profilepic-wrapper'>
      <figure class="image-block__figure">
        <img src="//images.contentful.com/<%= first_article.data.contentful_profile_pic %>" sizes="(min-width: 1160px) 1160px, 96vw" alt="" class="image-block__figure-image">
      </figure>
    </div>
    <div class="profile-header">
      <h2 class="featured post-title"><%= link_to first_article.data.interviewee, first_article %></h2>
      <h3 class="featured company-name"><%= first_article.data.company %></h3>
      <h4 class="featured profile-tags"><%= first_article.data.tags %></h4>
    </div>
  </div>

<div class='posts'>
  <ul>

    <% page_articles.each do |article| %>
      <% next if article == first_article  %>
    <li>

      <div class='date'><%= article.date.strftime('%b %d | %Y') %></div>

      <article class="index-article">

      <!---<span class='post-date'><%= article.date.strftime('%b %d | %Y') %></span>-->

        <h2 class='post-title'><%= link_to article.title, article %></h2>

        <% if article.data.contentful_index_pic %>
          <%= partial "partials/index-list-contentful-image", :locals => { :article => article } %>

        <% elsif article.data.vimeo_id %>
          <%= partial "partials/index-list-item-vimeo",       :locals => { :article => article } %>

        <% elsif article.data.soundcloud_id %>
          <%= partial "partials/index-list-item-audio",       :locals => { :article => article } %>

        <% end %>

        <% if article.data.topic_list %>
        <h3 class='topic-list'><%= article.data.topic_list %></h3>
        <% end %>

      </article>
    </li>
    <% end %>
  </ul>
</div>



<%-#  else -%>
<%-# article.summary(250) -%>
<%-# link_to 'Read more…', article   -%>
<%-# end  -%>

     
