    <!--<div class="interviewee-suggestions">
    
        <% if interviewee %>
          <h3 id='other-episodes'>Other Episodes</h3>
          <a class='other-episodes' href="/tags/<%= dasherize(interviewee) %>"><%= interviewee %></a>
        <% end %>
      </div>
    -->
    <div class="random-profiles-container">
      <h4>INTERESTING INTERVIEWS YOU MAY ALSO LIKE</h4>
    </div>
    
    <ul class="suggestion-list">
      <% blog.articles.select{ |article| article.data.category == 'Profile' }.shuffle.uniq[0...3].each do |a| %>
      <li class="interviewee-suggestion-item">
        <a href="/episodes/<%= a.data.episode_number %>.html"><img src="//images.contentful.com/<%= a.data.contentful_profile_pic %>"></a>
        <a class='other-episodes' href="/episodes/<%= a.data.episode_number %>.html"><%= a.data.interviewee %></a>
        <h3 class="company"><%= a.data.company %></h3>
      </li>
      <% end %>
    </ul>
