<!--<div class="interviewee-suggestions">

    <% if interviewee %>
      <h3 id='other-episodes'>Other Episodes</h3>
      <a class='other-episodes' href="/tags/<%= dasherize(interviewee) %>"><%= interviewee %></a>
    <% end %>
  </div>
-->

<div class="random-profiles-container">
  <h4>INTERESTING INTERVIEWS YOU MAY ALSO LIKE</h4>
</div>

  <ul class="suggestion-list">
    <% blog.articles.shuffle.uniq[0...3].each do |article| %>
    <li class="interviewee-suggestion-item">
      <img src="//images.contentful.com/<%= article.data.contentful_index_pic %>">
      <%= article.data.interviewee %>
      <a class='other-episodes' href="/tags/<%= dasherize(article.data.interviewee) %>"><%= article.data.interviewee %></a>
    </li>
    <% end %>
  </ul>
